@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

main{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
  padding: 12px 0px 24px 0px;

  margin: auto;
}

form{
  display: flex;
  width: 680px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-submit{
  display: flex;
  margin: auto;
  border-radius: 4px;
}

input{
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  background-color: #eee;
  outline: none;
}

input[type=submit]{
  background-color: #0D9488;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.input-list{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 16px;
}

.icon-group{
  display: flex;
}

.icon-style{
  width: 20px;
  height: 20px;
  margin: 4px 12px;
}